@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/primeng.min.css";

::-webkit-scrollbar {
    width: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 70%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    html {
        font-size: 80%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
    html {
        font-size: 90%;
    }
}

@media only screen and (min-width: 1401px) {
    html {
        font-size: 100%;
    }
}
