.search-bar {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.search-bar input {
    font-size: 1.25rem;
    border: 0.05rem solid var(--surface-300);
    border-radius: 0.5rem;
    background-color: var(--surface-50);
    box-shadow: 0 0 0.2rem var(--surface-300);
    outline: none;
    padding: 0.3rem;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-self: center;
    padding: 1.25rem;
}
